<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Folder Drive Create Folder</title>
</head>

<body>
  <div class="dialog-container">
    <dialog id="create-folder-modal">
      <div class="dialog-header">
        <p>New Folder</p>
        <p>X</p>
      </div>
      <form class="form-container dialog-form" action="/folders/create" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <div>
          <button class="form-submit-btn-container" id="close-createfolder-modal" type="submit">Create Folder</button>
        </div>
      </form>
    </dialog>
  </div>

</body>

</html>