<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Folder Drive Create Subfolder</title>
</head>

<body>
  <% if (locals.subfolders) { %>
  <div class="dialog-container">
    <dialog class="modal-pop-up" id="create-folder-modal">
      <div class="modal-header-container">
        <p>New Folder</p>
        <p>X</p>
      </div>
      <form class="main-form-container modal-form-container" action="/folders/create/<%= subfolders.id %>" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <div class="main-form-btn-container">
          <button class="main-form-submit-btn" id="close-createfolder-modal" type="submit">Create Folder</button>
        </div>
      </form>
    </dialog>
  </div>
  <% } %>

</body>

</html>