<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/sign-up-log-in.css">
  <link rel="stylesheet" href="/modal.css">
  <title>Delete Folder - Folder Drive</title>
</head>

<body>
  <% if (locals.subfolders) { %>
  <%- include('../index.ejs') %>
  <div class="dialog-container">
    <dialog open="" class="modal-pop-up" id="delete-folder-modal">
      <div class="modal-header-container">
        <p>Delete Folder</p>
        <p><a href="/folders/<%= subfolders.id %>">X</a></p>
      </div>
      <div class="modal-content">
        <p>
          Are you sure you want to delete the current folder and all of its contents? </p>
      </div>
      <form class="main-form-container modal-form-container" action="/folders/delete/<%= subfolders.id %>" method="POST">
        <div class="main-form-btn-container">
          <a href="/folders/<%= subfolders.id %>" class="main-form-submit-btn">Cancel</a>
          <button class="main-form-submit-btn modal-button" id="close-deletefolder-modal" type="submit" onclick="return confirm('Yes?')">Delete</button>
        </div>
      </form>
    </dialog>
  </div>
  <% } %>

</body>

</html>