<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Folder Drive Delete Folder</title>
</head>

<body>
  <% if (locals.subfolders) { %>
  <div class="dialog-container">
    <dialog id="delete-folder-modal">
      <div class="dialog-header">
        <p>Delete Folder</p>
        <p>X</p>
      </div>
      <div class="dialog-content">
        <p>
          Are you sure you want to delete the current folder and all of its contents? </p>
      </div>
      <form class="form-container dialog-form" action="/folders/delete/<%= subfolders.id %>" method="POST">
        <div>
          <button>Cancel</button>
          <button id="close-deletefolder-modal" type="submit" onclick="return confirm('Yes')">Delete</button>
        </div>
      </form>
    </dialog>
  </div>
  <% } %>

</body>

</html>