<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/sign-up-log-in.css">
  <link rel="stylesheet" href="/modal.css">
  <title>Header - Folder Drive</title>
</head>

<body>
  <header class="header-container">
    <h1 class="header-subheader"><a href="/folders">File Uploader</a></h1>

    <% if (!locals.user) { %>
    <div class="header-buttons">
      <button class="header-btn">Log In</button>
      <button class="header-btn">Sign Up</button>
    </div>
    <% } else { %>
    <nav class="nav-container">
      <ul class="ul-container">
        <li>
          <a href="/users/log-out">
            <img src="/svgs/log-out.svg" alt="User log out">
          </a>
        </li>
      </ul>
    </nav>
    <% } %>
  </header>
</body>

</html>