<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <title>Folder Drive Upload File</title>
</head>

<body>
  <% if (locals.subfolders) { %>
  <%- include('../index.ejs') %>
  <div class="dialog-container">
    <dialog open="" class="modal-pop-up" id="fileupload-modal">
      <div class="modal-header-container">
        <p>New File</p>
        <p>X</p>
      </div>
      <form class="main-form-container modal-form-container" action="/folders/upload/<%= subfolders.id %>" enctype="multipart/form-data" method="POST">
        <label for="uploaded_file"></label>
        <input type="file" name="uploaded_file" id="uploaded_file" />
        <%- include('../partials/errors.ejs') %>
        <div class="main-form-btn-container">
          <button class="main-form-submit-btn" id="close-fileupload-modal" type="submit">Upload</button>
        </div>
      </form>
    </dialog>
  </div>
  <% } %>
</body>

</html>