<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <title>Upload File - Folder Drive</title>
</head>

<body>
  <% if (locals.subfolders) { %>
  <%- include('../index.ejs') %>
  <div class="dialog-container">
    <dialog open="" class="modal-pop-up" id="fileupload-modal">
      <div class="modal-header-container">
        <p>New File</p>
        <p><a href="/folders/<%= subfolders.id %>">X</a></p>
      </div>
      <form class="main-form-container modal-form-container" action="/folders/upload/<%= subfolders.id %>" enctype="multipart/form-data" method="POST">
        <label for="uploaded_file"></label>
        <input class="modal-file-input" type="file" name="uploaded_file" id="uploaded_file" required />
        <%- include('../partials/errors.ejs') %>
        <div class="main-form-btn-container">
          <button class="main-form-submit-btn modal-button" id="close-fileupload-modal" type="submit">Upload</button>
        </div>
      </form>
    </dialog>
  </div>
  <% } %>
</body>

</html>