<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <title>Folder Drive Upload File</title>
</head>

<body>
  <% if (locals.subfolders) { %>
  <div class="dialog-container">
    <dialog id="fileupload-modal">
      <div class="dialog-header">
        <p>New File</p>
        <p>X</p>
      </div>
      <form class="form-container dialog-form" action="/folders/upload/<%= subfolders.id %>" enctype="multipart/form-data" method="POST">
        <label for="uploaded_file"></label>
        <input type="file" name="uploaded_file" id="uploaded_file" />
        <div>
          <button id="close-fileupload-modal" type="submit">Upload</button>
        </div>
      </form>
    </dialog>
  </div>
  <% } %>
</body>

</html>