<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/sign-up-log-in.css">
  <link rel="stylesheet" href="/modal.css">
  <title>Login - Folder Drive</title>
</head>

<body>
  <%- include('./partials/header.ejs') %>
  <main class="main-container">
    <div class="main-header-container">
      <h2 class="main-header-h2">Log in</h2>
      <h3 class="main-header-h3">Don't have an account yet? <a class="sign-up-log-in-anchor" href="/users/sign-up">Sign up</a></h3>
    </div>
    <form class="main-form-container" action="/users/log-in" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <div class="main-form-btn-container">
        <button class="main-form-submit-btn" type="submit">Log In</button>
      </div>
    </form>
  </main>
</body>

</html>