.modal-pop-up {
  position: absolute;
  top: 45%;
  left: 40%;
  width: 400px;
  padding: 1rem;
  background-color: #393e41;
  color: #f2efe9;
}

.modal-header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
  padding: 0.8rem;
}

.modal-form-container {
  padding: 0.8rem;
}

.modal-content {
  padding: 0.8rem;
}

.file-details-modal {
  width: 600px;
  top: 30%;
  left: 35%;
}

.file-details-content {
  padding: 0.8rem;
}

.flex-modal-forms {
  display: flex;
}
